@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900,300");

:root {
--primary: #8569b3;
--primary-content: #ffffff;
--primary-dark: #6b4e9b;
--primary-light: #a18bc4;

/** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Theme primary colors */
--primary-a0: #18043f;
--primary-a10: #301d52;
--primary-a20: #483667;
--primary-a30: #614f7b;
--primary-a40: #7a6a90;
--primary-a50: #9386a5;

/** Theme surface colors */
--surface-a0: #121212;
--surface-a10: #282828;
--surface-a20: #3f3f3f;
--surface-a30: #575757;
--surface-a40: #717171;
--surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
--surface-tonal-a0: #180d24;
--surface-tonal-a10: #2d2439;
--surface-tonal-a20: #443b4e;
--surface-tonal-a30: #5c5465;
--surface-tonal-a40: #756e7d;
--surface-tonal-a50: #8f8996;

/** Success colors */
--clr-success-a0: #22946e;
--clr-success-a10: #47d5a6;
--clr-success-a20: #9ae8ce;

/** Warning colors */
--clr-warning-a0: #a87a2a;
--clr-warning-a10: #d7ac61;
--clr-warning-a20: #ecd7b2;

/** Danger colors */
--clr-danger-a0: #9c2121;
--clr-danger-a10: #d94a4a;
--clr-danger-a20: #eb9e9e;

/** Info colors */
--clr-info-a0: #21498a;
--clr-info-a10: #4077d1;
--clr-info-a20: #92b2e5;

/* old */

--secondary: #6997b3;
--secondary-content: #0a1013;
--secondary-dark: #4e7e9b;
--secondary-light: #8baec4;

--background: #18151e;
--foreground: #25202d;
--border: #3d354b;

--copy: #fbfbfc;
--copy-light: #d7d2df;
--copy-lighter: #a296b5;

--success: #69b369;
--warning: #b3b369;
--error: #b36969;
--success-content: #0a130a;
--warning-content: #13130a;
--error-content: #ffffff;
  /** Typography */
  --font-main: "Lato", sans-serif;
}

/* ---------------------------------------
   Estilos globais
---------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background: var(--background);
  color: var(--copy-light);
  font-family: var(--font-main);
  font-size: 1rem;
  line-height: 1.6;
  padding:  0;
  font-weight:400;
  scroll-snap-type: y mandatory;
  margin: 0;
}

/* ---------------------------------------
   Títulos — usando cor secundária
---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  font-weight: 900;
  line-height: 1.2;
  color: var(--primary-light);
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
}

h1 { 
  /* font-size: 52px;  */
  color: var(--primary);
  letter-spacing: 1px;
  font-weight:900;
  font-size: 7cqw;
}
h2 { 
  /* font-size: 18px;  */
  font-size: 5cqw; 
}
h3 { 
  /* font-size: 16px; */
  font-size: 2cqw; 
}

pre {
  padding: 5px 15px;
  background: var(--foreground);
  border-radius: 20px;
}

svg path {
  fill: var(--primary);
}
/* ---------------------------------------
   Parágrafos
---------------------------------------- */
p {
  margin-bottom: 1rem;
  
  strong, b {
    color: var(--secondary);
  }
}

/* ---------------------------------------
   Links — usando secundária
---------------------------------------- */
a {
  color: var(--primary-a50);
  text-decoration: none;
  transition: color .2s ease;
}

a:hover {
  color: var(--clr-secondary-a40);
}

button {
  background: var(--secondary);
  color: var(--copy);
  border: 0;
  border-radius: 5px;
  cursor:pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size:12px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  scroll-snap-align: start;
  container-type: size;
}

nav {
  position: fixed;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  padding: 10px 50px;

  ul {
    display: flex;
    list-style: none;
    grid-gap: 30px 50px;
  }

  li {
    font-size: 1.2cqw;
  }
}

#intro {
  /* background: linear-gradient(124deg, var(--surface-tonal-a0) 0%, var(--primary-a0) 100%); */
  background: radial-gradient(circle at 50% 10%, var(--primary-a0) 15%, #000 100%);

  p {
    font-size: 1.4cqw;
  }
}

#skills {
  background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  grid-gap: 2cqw;
  container-type: inline-size;

  ul {
    display: flex;
    grid-gap: 3cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--primary-a0);
    width: 15cqw;
    height: 15cqw;
    justify-content: center;
    border-radius: 30px;
    background: var(--primary-a0);
    filter: saturate(0.5) drop-shadow(0px 0px 1px var(--primary-dark));
    grid-gap: 1.5cqw;
  }

  h3 {
    margin: 0;
    text-align: center;
  }

  svg {
    height: 5.5cqw;
    flex: 0 0 5.5cqw;
  }
}

#projects {
  background: radial-gradient(circle at 50% 50%, var(--primary-a0) 15%, #000 100%);
  container-type: inline-size;

  h3 { 
    font-size: 1.7cqw;
    margin: 0;
    color: var(--primary);
  }

  h4 {
    margin: 0;
    color: var(--primary-a50);
  }

  /* p {
    margin: 0;
  } */

  /* .grid {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-top: 20px;
  } */

  .grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px 40px;
    margin-top: 20px;
  }

  article {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid var(--primary-a0); */
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 1px var(--primary-dark));
    grid-gap: 1.5cqw;
    /* grid-template-columns: 4fr 1fr 1fr; */
    /* padding: 20px 40px; */
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    height: 100%;

    figure {
      width: 100%;
      margin: 0;
      z-index: 1;
      position:relative;

      img {
        width: 100%;
      }
    }

    figure:before {
      content: '';
    position: absolute;
    background: var(--primary);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    mix-blend-mode: color;
    filter: opacity(0.3);
    }

        
  }

  article:before {
    content: '';
    display: block;
    filter: drop-shadow(0px 0px 1px var(--primary-dark)) saturate(0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: var(--primary-a0);
    }

  .info {
    padding: 0 20px;
    z-index: 1;
  }
}

#links {
    background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  grid-gap: 2cqw;
  min-height: auto;
      container-type: normal;
      

  ul {
    display: flex;
    grid-gap: 2cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid var(--primary-a0); */
    /* width: 15cqw;
    height: 15cqw; */
    justify-content: center;
    /* border-radius: 30px;
    background: var(--primary-a0);
    filter: saturate(0.5) drop-shadow(0px 0px 1px var(--primary-dark)); */
    grid-gap: 1.5cqw;
  }

  svg {
    height: 2cqw;
    width: 2cqw;
    flex: 0 0 2cqw;
  }
}

@media (min-width: 600px) {
}