section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  scroll-snap-align: start;
  container-type: size;
}

#intro {
  background: radial-gradient(circle at 50% 10%, var(--primary-a0) 15%, #000 100%);

  p {
    font-size: 16px;
  }

  h1 .h1b {
    margin-left: 2cqw;
    transform:  translate(-30cqw, 0px)
  }
}

#skills, #about {
  background-color: var(--foreground);
  background: radial-gradient(circle at 30% 10%, var(--primary-a0) 15%, var(--background) 150%);
  /* grid-gap: 2cqw; */
  container-type: inline-size;

  .about-me {
    display: flex;
    grid-gap: 10cqw;
    align-items: center;
    padding: 0;
    flex-direction: column;
    
    img {
                  width: 35vw;
            margin: 20px 0 0 0;
    }

    
  }

  .about-me__txt {
      width: auto;

      p {
        text-wrap-style: balance;
        font-size: 16px;
      }
    }

  ul {
    display: flex;
    grid-gap: 3cqw;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: auto;
  }

  li {    
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--primary-a0);
    width: 28cqw;
    height: 28cqw;
    justify-content: center;
    border-radius: 15px;
    background: var(--primary-a0);
    filter: saturate(0.5) drop-shadow(0px 0px 1px var(--primary-dark));
    grid-gap: 10px;
    padding-top: 10px;
  }

  /* h3 {
    margin: 0 0 30px 0;
  } */

  h3 {
    margin: 0;
    text-align: center;
    height: 4cqw;
    display: flex;
    align-items: center;
    /* font-size: 3.5cqw; */
  }

  svg {
    height: 10cqw;
        flex: 0 0 10cqw;
    /* height: 5cqw;
    flex: 0 0 5cqw; */
  }
}

#projects {
  background: radial-gradient(circle at 50% 50%, var(--primary-a0) 15%, #000 100%);
  container-type: inline-size;

  h3 { 
    font-size: 6cqw;
    margin: 0;
    color: var(--primary);
  }

  h4 {
    margin: 0;
    color: var(--primary-a50);
  }

  .grid {
    display: flex;
    flex-direction: column;
    grid-gap: 30px 40px;
    margin-top: 20px;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 1px var(--primary-dark));
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
    height: 100%;
    grid-gap: 5cqw;

    figure {
      width: 100%;
      margin: 0;
      z-index: 1;
      position:relative;
      aspect-ratio: 390/190;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        scale: 1;
        transition: 0.5s;
      }
    }

    figure:before {
      content: '';
      position: absolute;
      background: var(--primary);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      mix-blend-mode: color;
      filter: opacity(0.3);
      transition: 0.5s;
      z-index: 1;
    }
  }

  article:before {
    content: '';
    display: block;
    filter: drop-shadow(0px 0px 1px var(--primary-dark)) saturate(0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: var(--primary-a0);
  }

  article:hover {
    img {
      scale: 1.1;
      transition: 0.5s;
    }
    figure:before {
      filter: opacity(0);
      transition: 0.5s;
    }
  }

  .info {
    padding: 0 20px;
    z-index: 1;
  }
}



@media (min-width: 600px) {
  section {
    padding: 50px;
  }

  #intro {
    p {
      font-size: 1.4cqw;
    }

    h1 .h1b {
    margin-left: 2cqw;
    transform:  translate(-14cqw, 0px)
  }
  }

  #skills, #about {
    ul {
      grid-gap: 2.5cqw 4cqw;
      width: 80cqw;
    }
    li {
      display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--primary-a0);
    width: 12cqw;
    height: 12cqw;
    justify-content: center;
    border-radius: 15px;
    background: var(--primary-a0);
    filter: saturate(0.5) drop-shadow(0px 0px 1px var(--primary-dark));
    grid-gap: 10px;
    padding: 10px 10px 0 10px;
      /* width: 14cqw;
      height: 14cqw; */
      border-radius: 30px;
    }

    svg {
      height: 5cqw;
      flex: 0 0 5cqw;
    }

    h3 {
      height: 4cqw;
      display: flex;
      align-items: center;
      font-size: 1.6cqw;
    }

    .about-me {
      flex-direction: row;
      padding: 0 5cqw;

      img {
      width: 17vw;
      margin: 30px 0;
    }
    }

    .about-me__txt {
      width: 45cqw;
    
      p {
        font-size: 1.4cqw;
      }
    }
  }

  #projects {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    h3 { 
      font-size: 1.7cqw;
    }

    h4 {
      font-size: 1cqw;
    }

    article {
      grid-gap: 1.5cqw;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 1000px) {
  #projects {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }


  }
}